.base {
  position: relative;
  margin: 0 auto;
  padding: 2rem;
  min-width: fit-content;
}

.body {
  min-height: 100vh;
  flex-direction: row;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 101vw;
  left: calc(-50vw + 50%);
}
