.resumeAccordion {
  width: 100%;
}

.resumeItem {
  background-color: rgba(255,255,255,0.4)  !important;
}

.experienceHeader {
  background-color: rgba(35, 2, 21, 0.3);
  color: rgb(12, 9, 13);
  padding: 5px;
}

.resumeHeader {
  width: 100%;
  font-family: Consolas, monaco, monospace;
}

.accordionHeader button {
  /* active,  active-bg, hover*/
  background-color: #c20a72c1 !important;
  color: #091943 !important;
  font-family: Consolas, monaco, monospace;
}

.accordionHeader button:focus {
  /* active,  active-bg, hover*/
  background-color: rgb(194, 10, 114) !important;
  box-shadow: 0 0 0 0.2rem rgba(194, 10, 114, 0.2) !important;
}

dl {
  display: grid;
  grid-template-columns: 60% 40%;
  margin-top: 5px !important;
}

dd {
  font-style: italic;
}

.description {
  text-align: left;
}

.genDescription {
  padding-bottom: 5px;
}

ul {
  max-width: 95% !important;
  justify-content: center;
  padding-left: 2rem !important;
}

.itemDescription li {
  padding-bottom: 5px;
}

