
.resumeNav {
  align-items: center;
  flex-direction: row;
  padding-bottom: 5rem;
}

.resumeNav-link {
  color: #230215 !important;
}

.resumeNav-link:focus {
  color: #54474c !important;
}

.resumeNav-link:hover {
  color: #efecca !important;
}

.resumeNav:active {
  color: #230215 !important;
}

