.sidebarNav-link {
  color: #230215 !important;
  font-family: Cambria, Georgia, serif;
  padding: 3px;
  margin: 0;
}

.sidebarNav-link:hover {
  color: #efecca;
}

.sidebarNav-link:focus {
  color: #aa8e98 !important;
}

.sidebarNav-link:hover {
  color: #aa8e98 !important;
}

.sidebarNav:active {
  color: #aa8e98 !important;
}

.sideBarElements {
  padding: 10px;
  border-style: dashed;
  vertical-align: middle;
}
