.sidebarNav {
  padding-bottom: 1em;
  align-self: stretch;
  max-width: 166px;
}

.sidebarNav-link {
  color: #230215 !important;
  font-family: Cambria, Georgia, serif;
  white-space: nowrap;
}


.sidebarNav-link:focus {
  color: #54474c !important;
}

.sidebarNav-link:hover {
  color: #efecca !important;
}

.sideBarElements {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  border-style: dashed;
  vertical-align: middle;
}


@media screen and (max-width: 768px) {
  .sidebarNav {
    max-width: 90vw;
  }
}


