name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main

jobs:
  build_and_deploy_job:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          lfs: false

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.402

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      # Install and Build Client
      - name: Install Node.js dependencies
        working-directory: ./mksite.client
        run: npm install

      - name: Build Client
        working-directory: ./mksite.client
        run: npm run build

      # Build API
      - name: Publish API
        working-directory: ./mksite.Server
        run: dotnet publish -c Release -o ./bin/Release/net8.0

      # Deploy to Azure Static Web Apps
      - name: Deploy to Azure Static Web Apps
        env:
          SWA_CLI_DEPLOYMENT_TOKEN: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_GREEN_MUSHROOM_0A9558C1E }}
        run: |
          npx swa deploy ./mksite.client/dist --api-location ./mksite.Server/bin/Release/net8.0 --env production

  close_pull_request_job:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    name: Close Pull Request Job
    steps:
      - name: Close Pull Request
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_GREEN_MUSHROOM_0A9558C1E }}
          action: "close"

